html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background-image: url("/public/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
}
