@keyframes appear {
  0% {
    opacity: 0;
    transform: translateX(-150%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.homeChild1 {
  animation-duration: 3s;
  animation-name: appear;
  animation-fill-mode: forwards;
}

.homeChild2 {
  animation-delay: 1s;
  animation-duration: 3s;
  animation-name: appear;
  animation-fill-mode: forwards;
}

.homeChild3 {
  animation-delay: 2s;
  animation-duration: 3s;
  animation-name: appear;
  animation-fill-mode: forwards;
}

.homePage {
  display: flex;
  align-items: center;
  padding: 5rem;
  padding-left: 10rem;
}

.homePage > div {
  display: flex;
  flex-direction: column;
}

.homePage > div > * {
  color: white;
  max-width: 50vw;
  margin-bottom: 2rem;
  transform: translateX(-150%);
}

.homePage > div > h1 {
  font-weight: 900;
  font-size: 2.5rem;
}

.homePage > div > p {
  font-size: 2rem;
}

.learn-more-btn {
  padding: 10px;
  border-radius: 10px;
  background-color: coral;
  cursor: pointer;
}

@media (max-width: 530px) {
  .homePage {
    padding-left: 3rem;
  }

  .homePage > div > * {
    max-width: 30vw;
  }
}
